@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  letter-spacing: 0.095em;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0.8px rgba(0, 0, 0, 0.6);
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.7);
}

.button {
  height: 60px;
  padding: 0 30px;
  font-family: "Lato", sans-serif;
  border-radius: 30px;
  font-size: 24px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  font-weight: 300;
  width: 24vw;
  cursor: pointer;
}
.button em {
  font-weight: 700;
  font-style: normal;
}
.button.dark {
  background: #d0cec2;
  color: #ffffff;
}
.button.light {
  background: #f1f1ef;
  color: #8c8b81;
}
@media (max-width: 768px) {
  .button {
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    width: 55vw;
  }
}

.rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 3px 0px rgba(150, 0, 0, 0.3);
  }
  30% {
    box-shadow: 0px 0px 3px 5px rgba(150, 0, 0, 0.2);
  }
  60% {
    box-shadow: 0px 0px 3px 8px rgba(150, 0, 0, 0.1);
  }
  90% {
    box-shadow: 0px 0px 3px 12px rgba(150, 0, 0, 0);
  }
}
.text {
  line-height: 28px;
  letter-spacing: 0.095em;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0.8px rgba(0, 0, 0, 0.6);
}

.column {
  height: 100vh;
}

section {
  width: 100vw;
  height: 100vh;
}
@media (min-width: 1024px) {
  section {
    width: 80vw;
    margin: auto;
  }
}
@media (min-width: 1600px) {
  section {
    width: 60vw;
    margin: auto;
  }
}

.main {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main img {
  width: 200px;
  height: 100%;
}
@media (min-width: 500px) {
  .main {
    padding: 10rem;
  }
}
@media (min-width: 800px) {
  .main {
    flex-direction: row;
  }
  .main .intro {
    padding-right: 5rem;
  }
  .main .intro h1 {
    letter-spacing: 0.095em;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.8px rgba(0, 0, 0, 0.6);
  }
  .main .intro p {
    line-height: 1.5rem;
  }
}

.gallery {
  height: 20vh;
  background-color: #8c8b81;
  margin-bottom: 2rem;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-20vh * 10));
  }
}
.gallery .slider {
  background: #fff;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.gallery .slider::before, .gallery .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.gallery .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.gallery .slider::before {
  left: 0;
  top: 0;
}
.gallery .slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(20vh * 20);
}
.gallery .slider .slide {
  height: 20vh;
  width: 20vh;
  padding: 0 1rem;
}
.gallery .slider .slide img {
  width: 100%;
  cursor: pointer;
}

.playground {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "style record" "print print" ". .";
}
@media screen and (min-width: 800px) {
  .playground {
    display: flex;
    justify-content: center;
  }
}
.playground .record {
  grid-area: record;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .playground .record {
    display: block;
    flex: 4;
    order: 3;
  }
}
.playground .record .hint {
  display: none;
}
@media screen and (min-width: 800px) {
  .playground .record .hint {
    display: block;
    padding: 45vh 5rem 0 0;
  }
}
.playground .record .start-button {
  cursor: pointer;
  background-color: #eee;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}
@media screen and (min-width: 800px) {
  .playground .record .start-button {
    margin: 2.5rem 0 0 1rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
  }
}
.playground .record .start-button.disable {
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
}
.playground .style {
  grid-area: style;
  padding-left: 10vw;
}
@media screen and (min-width: 800px) {
  .playground .style {
    flex: 4;
    order: 1;
    padding: 0;
  }
}
.playground .style ul li {
  opacity: 0.6;
}
.playground .style ul li:hover, .playground .style ul li.select {
  opacity: 1;
}
.playground .style ul li:hover::before, .playground .style ul li.select::before {
  content: ">";
  padding-right: 10px;
}
.playground .style ul li.disable {
  opacity: 0.3;
}
@media screen and (min-width: 800px) {
  .playground .style ul {
    text-align: right;
    padding: 30vh 1rem 0 2rem;
    font-size: 1.5rem;
    line-height: 4rem;
  }
  .playground .style ul li {
    line-height: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
.playground .print {
  grid-area: print;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .playground .print {
    flex: 8;
    order: 2;
    padding-top: 5rem;
  }
}
.playground .print .canva-container {
  width: 400px;
  height: 608px;
  left: 652px;
  top: 146px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
}
.playground .print .canva-container .canva {
  width: 100%;
  height: 100%;
}
.playground .print .canva-container .canva #p5 {
  vertical-align: top;
  position: relative;
  top: 30px;
  left: 30px;
}
@media (max-width: 768px) {
  .playground .print .canva-container .canva #p5 {
    top: 5vw;
    left: 5vw;
  }
}
.playground .print .canva-container .canva #date {
  font-size: 16px;
  top: 100px;
  position: relative;
  left: 270px;
}
@media (max-width: 768px) {
  .playground .print .canva-container .canva #date {
    font-size: 12px;
    top: 17vw;
    left: 48vw;
  }
}
.playground .print .canva-container .canva #qrcode {
  position: relative;
  top: 110px;
  left: 265px;
}
.playground .print .canva-container .canva #qrcode img {
  width: 110px;
  height: 110px;
}
@media (max-width: 768px) {
  .playground .print .canva-container .canva #qrcode {
    top: 18vw;
    left: 48vw;
  }
  .playground .print .canva-container .canva #qrcode img {
    width: 17vw;
    height: 17vw;
  }
}

/*# sourceMappingURL=style.css.map */
