@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
}

#canva {
  width: 400px;
  height: 608px;
  position: absolute;
  left: 747px;
  top: 146px;
}
#canva canvas {
  position: relative;
  top: 30px;
  left: 30px;
}
#canva #date {
  font-size: 16px;
  position: relative;
  top: 107px;
  left: 288px;
}
#canva #qrcode img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 270px;
  top: 120px;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.7);
}

.ui.modal {
  top: 150px !important;
  width: 700px;
  height: 500px;
  overflow: hidden;
}
.ui.modal .content .description {
  position: absolute;
  top: 60px;
  left: 50px;
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.095em;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0.8px rgba(0, 0, 0, 0.6);
}
.ui.modal .content img {
  position: absolute;
  top: 130px;
  left: 400px;
  height: 450px;
  overflow: hidden;
}
.ui.modal .content #uploadImage {
  height: 60px;
  position: absolute;
  font-family: "Lato", sans-serif;
  border-radius: 30px;
  font-size: 24px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  font-weight: 300;
  background: #f1f1ef;
  color: #8c8b81;
  width: 175px;
  top: 350px;
  left: 120px;
  cursor: pointer;
}
.ui.modal .content #uploadImage em {
  font-weight: 700;
  font-style: normal;
}

.button {
  height: 60px;
  position: absolute;
  font-family: "Lato", sans-serif;
  border-radius: 30px;
  font-size: 24px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}
.button em {
  font-weight: 700;
  font-style: normal;
}

#description {
  width: 435px;
  text-align: center;
  color: #8c8b81;
  letter-spacing: 1.5px;
  text-align: center;
  position: absolute;
  left: 197px;
  top: 585px;
  font-size: 14px;
}

#startButton {
  background: #d0cec2;
  color: #ffffff;
  position: absolute;
  width: 280px;
  left: 264px;
  top: 552px;
}

#resetButton {
  background: #d0cec2;
  color: #ffffff;
  position: absolute;
  width: 175px;
  left: 230px;
  top: 620px;
}

#replayButton {
  background: #f1f1ef;
  color: #8c8b81;
  position: absolute;
  width: 175px;
  left: 420px;
  top: 620px;
}

#progressBar {
  background-color: #e4e2d775;
  width: 365px;
  left: 230px;
  top: 620px;
}

#counter {
  position: relative;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  background-color: #e6e4dc;
  border-radius: 60px;
}

.rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#recorder {
  height: 22px;
  width: 22px;
  background-color: #960000;
  border-radius: 22px;
  position: absolute;
  top: 198px;
  left: 580px;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 3px 0px rgba(150, 0, 0, 0.3);
  }
  30% {
    box-shadow: 0px 0px 3px 5px rgba(150, 0, 0, 0.2);
  }
  60% {
    box-shadow: 0px 0px 3px 8px rgba(150, 0, 0, 0.1);
  }
  90% {
    box-shadow: 0px 0px 3px 12px rgba(150, 0, 0, 0);
  }
}
#placeholder {
  position: absolute;
  left: 747px;
  top: 146px;
  display: inline-block;
}
#placeholder .on-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#placeholder:hover .on-hover {
  cursor: pointer;
  display: inline;
}
#placeholder .choose-style .style {
  position: absolute;
  top: 360px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background-color: #e2e1df;
  z-index: 100;
  text-align: center;
  color: white;
  line-height: 90px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
}
#placeholder .choose-style .style#style1 {
  left: 45px;
}
#placeholder .choose-style .style#style1:hover {
  color: rgba(0, 0, 0, 0);
  background-image: url("../img/style1.png");
  background-size: 90px;
}
#placeholder .choose-style .style#style2 {
  left: 155px;
}
#placeholder .choose-style .style#style2:hover {
  color: rgba(0, 0, 0, 0);
  background-image: url("../img/style2.png");
  background-size: 90px;
}
#placeholder .choose-style .style#style3 {
  left: 265px;
}
#placeholder .choose-style .style#style3:hover {
  color: rgba(0, 0, 0, 0);
  background-image: url("../img/style3.png");
  background-size: 90px;
}

#print {
  cursor: pointer;
  position: absolute;
  left: 1060px;
  top: 770px;
  height: 30px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  background: #f1f1ef;
  color: #8c8b81;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 75px;
  line-height: 28px;
}
#print img {
  display: none;
  width: 35px;
  position: absolute;
  left: 68px;
  top: 0px;
}

/*# sourceMappingURL=style.css.map */
